html{
    display: flex;
align-items: center;
justify-content: center;
align-content: center;
  }
    body{
      cursor: auto;
position: relative;
height: max-content;
padding: 0;
margin: 0;
overflow: hidden;
    }
body{
    user-select: none;
    -webkit-user-drag: none;
}
.ring1{
    display: flex;
    width: max-content;
    height: max-content;
    position: absolute;
    z-index: 3;
    left: 27vw;
    top: 18vw;
    background-color: transparent;
    align-items: center;
    transform-origin: left center;
}
.left,.left2,.left3,.left4,.left5,.left6,.left7,.left8{
    display: block;
    width: 1.628vw;
    height: 1.9535vw;
    position: relative;
    background-color: rgba(160, 137, 95, 0);
    border-radius: 50%;
    border: none;
}
.arrow1,.arrow2,.arrow3,.arrow4,.arrow5,.arrow6,.arrow7,.arrow8{
    width: 0.25vw;
    height: 0.2vw;
    background-color: rgb(117, 117, 117);
    border-radius: 3vw;
}
.right1,.right2,.right3,.right4,.right5,.right6,.right7,.right8{
    display: block;
    width: 2.5vw;
    height: 2.5vw;
    background-size: cover;
    position: relative;
    border-radius: 50%;
    background-image: url(./IMG/btnOrange.png);
    background-size: cover;
    border: 1px solid lightgrey;
}
.popup {
    display: none;
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    z-index: 20;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui;
    font-size: 22px;
    background-color: #ffffebe6;
    border-radius: 3vw;
  }
  
  #popup1 {
    -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 0px 9999px rgb(132 132 132 / 71%);
  }
  .popup a{
    text-decoration: wavy;
    color: darkgreen;
  }
#submit{position: absolute;
    width: 15vw;
    display: flex;
    height: auto;
    top: 21vw;
    left: 2vw;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
cursor: pointer;}
    #reset{
        position: absolute;
    width: 15vw;
    display: flex;
    height: auto;
    top: 28vw;
    left: 2vw;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    }
    #mobile{
        position: absolute;
    width: 15vw;
    display: flex;
    height: auto;
    top: 13.4vw;
    left: 2vw;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    }
 #submit:hover ,#reset:hover {
    
    transform: scale(0.95);
 }   
.ring2{
    display: flex;
    z-index: 3;
    width: max-content;
    height: max-content;
    position: absolute;
    left: 29vw;
    top: 21.4vw;
    background-color: transparent;
    align-items: center;
    transform-origin: left center;
}
.ring3{
    display: flex;
    z-index: 3;
    width: max-content;
    height: max-content;
    position: absolute;
    left: 30vw;
    top: 25vw;
    background-color: transparent;
    align-items: center;
    transform-origin: left center;
}
.ring4{
    display: flex;
    width: max-content;
    height: max-content;
    position: absolute;
    z-index: 3;
    left: 28.5vw;
    top: 28.5vw;
    background-color: transparent;
    align-items: center;
    transform-origin: left center;
}
.ring5{
    display: flex;
    width: max-content;
    height: max-content;
    z-index: 3;
    position: absolute;
    left: 30.5vw;
    top: 32.3vw;
    background-color: transparent;
    align-items: center;
    transform-origin: left center;
}
.ring6{
    display: flex;
    width: max-content;
    height: max-content;
    z-index: 3;
    position: absolute;
    left: 27.5vw;
    top: 35.8vw;
    background-color: transparent;
    align-items: center;
    transform-origin: left center;
}
.ring7{
    display: flex;
    width: max-content;
    height: max-content;
    position: absolute;
    z-index: 3;
    left: 32.5vw;
    top: 39.3vw;
    background-color: transparent;
    align-items: center;
    transform-origin: left center;
}
.ring8{
    display: flex;
    width: max-content;
    height: max-content;
    z-index: 3;
    position: absolute;
    left: 33.5vw;
    top: 42.8vw;
    background-color: transparent;
    align-items: center;
    transform-origin: left center;
}
#ringa{
    display: flex;
    position: absolute;
    left: 51vw;
    top: 18.5vw;
    width: 2vw;
    height: 2vw;
    background-image: url(./IMG/rbutton.png);
    background-size: cover;
    align-items: center;
    transform-origin: left center;
    border-radius: 50%;
}
#ringb{
    display: flex;
    position: absolute;
    left: 51vw;
    top: 22vw;
    width: 2vw;
    height: 2vw;
    background-image: url(./IMG/rbutton.png);
    background-size: cover;
    align-items: center;
    transform-origin: left center;
    border-radius: 50%;
}
#ringc{
    display: flex;
    position: absolute;
    left: 51vw;
    top: 25.5vw;
    width: 2vw;
    height: 2vw;
    background-image: url(./IMG/rbutton.png);
    background-size: cover;
    align-items: center;
    transform-origin: left center;
    border-radius: 50%;
}
#ringd{
    display: flex;
    position: absolute;
    left: 51vw;
    top: 29vw;
    width: 2vw;
    height: 2vw;
    background-image: url(./IMG/rbutton.png);
    background-size: cover;
    align-items: center;
    transform-origin: left center;
    border-radius: 50%;
}
#ringe{
    display: flex;
    position: absolute;
    left: 51vw;
    top: 32.4vw;
    width: 2vw;
    height: 2vw;
    background-image: url(./IMG/rbutton.png);
    background-size: cover;
    align-items: center;
    transform-origin: left center;
    border-radius: 50%;
}
#ringf{
    display: flex;
    position: absolute;
    left: 51vw;
    top: 36vw;
    width: 2vw;
    height: 2vw;
    background-image: url(./IMG/rbutton.png);
    background-size: cover;
    align-items: center;
    transform-origin: left center;
    border-radius: 50%;
}
#ringg{
    display: flex;
    position: absolute;
    left: 51vw;
    top: 39.5vw;
    width: 2vw;
    height: 2vw;
    background-image: url(./IMG/rbutton.png);
    background-size: cover;
    align-items: center;
    transform-origin: left center;
    border-radius: 50%;
}
#ringh{
    display: flex;
    position: absolute;
    left: 51vw;
    top: 43vw;
    width: 2vw;
    height: 2vw;
    background-image: url(./IMG/rbutton.png);
    background-size: cover;
    align-items: center;
    transform-origin: left center;
    border-radius: 50%;
}
#container{
    background-image: url(./IMG/3649732.jpg);
    background-size: 134vw;
    margin-bottom: 2vw;
}
